In [77]:
l1=['raghu','prasad','manish','charan']

In [78]:
print(l1)

['raghu', 'prasad', 'manish', 'charan']

In [79]:
l1.pop()

'charan'

In [10]:
print(l1)

['raghu', 'prasad', 'manish']

In [12]:
l2=l1
print(l2)

['raghu', 'prasad', 'manish']

In [80]:
l1.remove('prasad')
print(l1)

['raghu', 'manish']

In [85]:
avi=[1,2,4,5,6,7]
print(avi)

[1, 2, 4, 5, 6, 7]

In [86]:
avi.remove(4)

In [87]:
print(avi)

[1, 2, 5, 6, 7]

In [88]:
avi.pop()

7

In [89]:
print(avi)

[1, 2, 5, 6]

In [90]:
del avi

In [91]:
print(avi)

NameError: name 'avi' is not defined

# Python Tuples

In [1]:
t1=(1001,'name',72,90)

In [2]:
print(t1)

(1001, 'name', 72, 90)

In [3]:
t1[0]

1001

In [4]:
t1[0:2]

(1001, 'name')

In [5]:
t1[2:]

(72, 90)

In [11]:
t2=(321,654,789098,6453)

In [18]:
print(str(t2[0])[1], str(t2[1])[1], str(t2[2])[1])   # to get the between values

2 5 8

In [19]:
# function to calculate average of all elements in a tuple

def averageTuple(t):
    sum=0
    for i in range(0,len(t)):
        sum+=t[i]
    return sum/len(t)
averageTuple(t2)

199131.5

In [20]:
def averageTuple(t):
    sum=0
    for i in range(0,len(t)):
        sum=sum+t[i]
    return sum/len(t)
averageTuple(t2)

199131.5

In [83]:
# function to search in linear data structure  =====================================================

def searchLinearDS(ds, key):
    for item in range(0, len(ds)):
        if ds[i]==key:
            return i
        return -1
searchLinearDS(l3,9)

NameError: name 'i' is not defined

In [40]:
l3=[3,6,9,5,4]

In [41]:
print(l3)

[3, 6, 9, 5, 4]

In [42]:
def avgList(l3):
    sum=0
    for i in range(0,len(l3)):
        sum=sum+l3[i]
    return sum/len(l3)
avgList(l3)

5.4

In [36]:

def averageTuple(t):
    sum=0
    for i in range(0,len(t)):
        sum=sum+t[i]
    return sum/len(t)
averageTuple(t2)

199131.5

# iterable objects

In [26]:
s="python"
for c in s:
    print(c)

p
y
t
h
o
n

In [ ]:
# function to identify the max element in a data structure

In [46]:
def maxElementDS(ds):
    m= ds[0]
    for item in ds:
        if item > m:
            
            m=item
    return m
    
maxElementDS(l3)

9

In [47]:
#function to identify the mini value in data structure
def maxElementDS(ds):
    m= ds[0]
    for item in ds:
        if item < m:
            
            m=item
    return m
    
maxElementDS(l3)

3

# dictionaries

In [66]:
d1={'name':15464613, 'name2': 454565646545}
d1

{'name': 15464613, 'name2': 454565646545}

In [49]:
d1.keys()  # ALL KEYS IN A DICTIONARIES ARE UNIQUE

dict_keys(['name', 'name2'])

In [50]:
d1.values()

dict_values([15464613, 454565646545])

In [69]:
d1.pop('name')

15464613

In [70]:
print(d1)

{'name2': 454565646545}

# contact appplications

In [92]:
contacts={}

def addContact(d,name, phone):
    d[name]=phone
    return
addContact(contacts,'name1',4545411121)

def dispayContacts(contacts):
    for nam,phone in contacts.items:
        print(contact.key, ":", contact.value)
    return

In [93]:
addContact(contact)

NameError: name 'contact' is not defined